<div class="<%= container_classes %>">
  <div>
    <p class="<%= label_classes %>">최대입찰가</p>
    <p class="<%= primary_value_classes %>"><%= max_bid_amount %></p>
  </div>
  <div>
    <p class="<%= label_classes %>">쓸 수 있는 현금</p>
    <p class="<%= secondary_value_classes %>"><%= available_cash %></p>
  </div>
  <div>
    <p class="<%= label_classes %>">예비비 합계</p>
    <p class="<%= secondary_value_classes %>"><%= total_reserves %></p>
  </div>
  <div>
    <p class="<%= label_classes %>">대출비율</p>
    <p class="<%= secondary_value_classes %>"><%= loan_ratio %></p>
  </div>
</div>
