<div class="<%= CONTAINER_CLASSES %>" data-controller="toast" data-toast-duration-value="<%= @duration %>">
  <%= icon_html %>
  <p class="text-sm text-slate-700 dark:text-slate-300 flex-1"><%= @message %></p>
  <button type="button" data-action="toast#dismiss" class="shrink-0 text-slate-400 hover:text-slate-600 dark:hover:text-slate-200">
    <%= close_icon_html %>
  </button>
</div>
